[run]

branch = True
source = kson

[report]

fail_under = 98
skip_covered = True

omit =
    kson/grammar/*

exclude_lines =
    pragma: no cover
    if False:
    if __name__ == .__main__.:
    raise NotImplementedError
