include .coveragerc
include CHANGELOG
include LICENSE
include README.rst
include requirements.txt
include tox.ini
recursive-exclude bin *
recursive-exclude dist *
recursive-exclude htmlcov *
recursive-exclude test *
